%table.table
  %thead
    %tr
      %th(width="30%") Pulse la lista a la que añadir el vino
  %tbody
    - @lists.each do |list|
      %tr
        %td
          = button_to "#{ list.nombre }", vinos_lists_path, params: { vinos_list: { vino_id: @vino.id, list_id: list.id } }
