= bootstrap_form_for @list, remote: true do |f|

  %fieldset
    = f.text_field :nombre, label: "Nombre de la lista", size: 20
    = f.hidden_field :user_id, value: current_user.id

  %fieldset.form-group.actions.clearfix
    %input(type="submit" value="Crear" class="btn" id="submit_button")
    #cancel.btn.btn-default Cancelar  