= bootstrap_form_for [@comentable, @comentario], remote: true do |f|
  %fieldset
    = f.text_area :comentario, size: "60x12"

  %fieldset.form-group.actions.clearfix
    %input(type="submit" value="Submit" class="btn")
    %a(href="") Cancel