= bootstrap_for_for @valoracion do |f|
  %header
    %h1 Valora este vino
  %fieldset
    = f.  


/ %form
/   %fieldset
/     .form-group
/       %label Valora este vino
/       .row
/         .col-sm-3
/           %select.form-control(name="")
/             %option(value="5") 5 Stars
/             %option(value="4") 4 Stars
/             %option(value="3") 3 Stars
/             %option(value="2") 2 Stars
/             %option(value="1") 1 Star
/     .form-group
/       %label Write Review
/       .row
/         .col-sm-8
/           %textarea.form-control(name="" rows="6")
/   %fieldset.form-group.actions.clearfix
/     %input(type="submit" value="Submit" class="btn")
/     %a(href="") Cancel